global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

# Kubernetes API Frontend
frontend kubernetes-frontend
    bind *:{{ api_port }}
    mode tcp
    default_backend kubernetes-backend

# Kubernetes API Backend
backend kubernetes-backend
    mode tcp
    balance roundrobin
    server master {{ master_private_ip }}:{{ api_port }} check

# Stats page
listen stats
    bind *:9000
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE

# Application Frontend
frontend app-frontend
    bind *:80
    mode http
    default_backend istio-gateway

# Application Backend (pointing to Istio Gateway)
backend istio-gateway
    mode http
    balance roundrobin
    server istio-gateway 10.0.1.190:31217 check
    
